.hero{
  background: #2F70FE;
  &__container{
    padding: 114px 325px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:768px) {
      padding: 80px 100px;
    }
    @media (max-width:365px) {
      padding: 56px 15px 80px;
    }
  }
  &__title{
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width:620px) {
      font-size: 40px;
      line-height: 55px;
    }
    @media (max-width:500px) {
      font-size: 35px;
      line-height: 45px;
    }
  }
  &__subtitle{
    padding: 0 92px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    @media (max-width:1050px) {
      padding: 0 50px;
    }
    @media (max-width:500px) {
      padding: 0;
      margin-bottom: 102px;
    }
  }
  &__button{
    padding: 16px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
  }
}