.offer{
  font-family: 'Golos Text', sans-serif;
  background: rgba(0, 255, 133, 0.08);
  &__container{
    background: url("../../assets/icon/triangle.svg") bottom 132px left 69px no-repeat,
        url("../../assets/icon/triangle.svg") top 126px right 69px no-repeat;
    padding: 100px 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    margin-bottom: 103px;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 1;
  }
  &__container-iner{
    display: flex;
    gap: 56px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 236px;
  }
  &__card-text{
    text-align: center;
  }
}