.offer{
  background: rgba(0, 255, 133, 0.08);
  &__container{
    background: url("../../assets/icons/triangle.svg") bottom 132px left 69px no-repeat,
        url("../../assets/icons/triangle.svg") top 126px right 69px no-repeat;
    padding: 100px 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width:768px) {
      padding: 60px 40px;
      background: url("../../assets/icons/triangle.svg") top 60px left 40px no-repeat,
        url("../../assets/icons/triangle.svg") top 60px right 40px no-repeat;
    }
    @media (max-width:365px) {
      padding: 89px 47px 129px;
      background: url("../../assets/icons/triangle.svg") bottom 60px left 30px no-repeat,
        url("../../assets/icons/triangle.svg") top 190px right 30px no-repeat;
    }
  }
  &__title{
    margin-bottom: 103px;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    @media (max-width:365px) {
      margin-bottom: 114px;
      font-size: 40px;
    }
  }
  &__container-inner{
    display: flex;
    gap: 56px;
    @media (max-width:365px) {
      gap: 67px;
      flex-direction: column;
    }
  }
  &__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 236px;
  }
  &__card-text{
    text-align: center;
  }
}