.header{
  font-family: 'Golos Text', sans-serif;
  &__container{
    display: flex;
    align-items: center;
    padding: 30px 70px;
    @media (max-width:1050px) {
      padding: 25px 40px;
    }
    @media (max-width:800px) {
      padding: 15px 20px;
    }
    @media (max-width:700px) {
      padding: 15px 15px;
    }
    @media (max-width:620px) {
      flex-direction: column;
      padding-top: 37px;
      padding-bottom: 56px;
    }
  }
  &__logo{
    margin-bottom: 56px;
  }
  &__nav{
    margin-left: auto;
    @media (max-width:620px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__link{
    margin-right: 32px;
    color:  #000C2D;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    &--active{
      font-weight: 700;
    }
    @media (max-width:800px) {
      margin-right: 25px;
    }
    @media (max-width:700px) {
      margin-right: 13px;
    }
    @media (max-width:620px) {
      margin-bottom: 14px;
      margin-right: 0;
    }
  }
  &__button{
    background: #FFFFFF;
    border: 1px solid #2F70FE;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #2F70FE;
    padding: 12px 23px;
    @media (max-width:800px) {
      padding: 10px 18px;
    }
    @media (max-width:700px) {
      padding: 10px 13px;
      font-size: 15px;
    }
    @media (max-width:700px) {
      padding: 12px 23px;
      font-size: 16px;
    }
  }
}